/*********************************************************
COLOR VARIABLES
**********************************************************/
:root {
    --primaryColor: rgb(0, 0, 70);
    --secondaryColor: rgb(119, 68, 167);
}

body {
    background-color: var(--secondaryColor);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    padding: 5px 0px 5px 0px;
}

/*********************************************************
NAVIGATION BAR
**********************************************************/
.navbar {
    background-color: var(--primaryColor);
    color: white;
    border: 2px solid var(--secondaryColor);
}

.navbar-toggler {
    color: white;
}

/*********************************************************
LAYOUT
**********************************************************/
.grid {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr;
    margin: 3px 0px 0px 0px;
}

.subGrid {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr;
}

.gridItem {
    background-color: var(--primaryColor);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.entryGrid {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.contactFlex {
    display: flex;
    flex-direction: column;
}

.contactItem {
    text-align: center;
    flex-grow: 1;
    vertical-align: middle;
    font-size: x-large;
}

/*********************************************************
LINKS
**********************************************************/
a:link {
    color: white;
}

a:visited {
    color: lightslategray;
}

/*********************************************************
PICTURES
**********************************************************/
.profilePhoto {
    display: block;
    margin: auto;
}

.artPhoto {
    height: 200px;
}

/*********************************************************
FOR DESKTOP
**********************************************************/
@media (min-width: 1081px) {
    .grid {
        grid-template-columns: 1fr 2fr;
        column-gap: 2px;
        row-gap: 2px;
    }

    .subGrid {
        row-gap: 2px;
    }

    .heading {
        grid-column: 1/3;
    }

    .hobbiesGrid {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    
    .hobbies {
        grid-column: 1/3;
    }
    
    .contact {
        grid-column: 1/3;
    }

    .contactItem {
        font-size: medium;
    }

    .contactFlex {
        flex-direction: row;
    }

    .profilePhoto {
        height: 200px;
        float: left;
        margin: 0px 10px 5px 0px;
    }
}